.chart-series-line{
-fx.stroke-width : 5px;
-fx-effect:null'
}

.default-color0.chart-series-line {-fx-stroke:#00a1ff}
.default-color1.chart-series-line {-fx-stroke:#00ff8f}
.default-color2.chart-series-line {-fx-stroke:#00172d}


.main-chart .chart-series-area-fill  {
   -fx-fill : linear-gradient(to left, -base, -success);
}

.main-chart .chart-series-area-line {
    -fx-stroke: linear-gradient(to left, -base, -success);
    -fx-stroke-width: 1px;
}

.main-chart .chart-area-symbol
{
    -fx-background-color : linear-gradient(to left, -base, -success);
}

.main-chart
{
  -fx-background-color : transparent;
}

.main-chart .axis {}

.main-chart .chart-series-area-fill  {
  -fx-fill : linear-gradient(to left, -base, -success);
  /* -fx-fill : linear-gradient(to bottom, white, transp); */
}

.main-chart .chart-series-area-line {
    -fx-stroke: linear-gradient(to left, -base, -success);
    -fx-stroke-width: 2px;
}

.main-chart .chart-area-symbol
{
    -fx-background-color : linear-gradient(to left, -base, -success);
}